* {
    --colorBlack:#0C0C0C;
    --colorOrange:#FF9900;
    --colorWhite:#fefafa;
}

body {
    margin: 0;
    background-color: var(--colorOrange);
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: var(--colorWhite);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colorBlack);
    height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    background-color: var(--colorWhite);
    padding: 20px;
    border-radius: 5px;
}

legend {
    background-color: var(--colorWhite);
    border: 1px solid var(--colorBlack);
    padding: 5px;
}

table {
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    padding: 30px;
    border-radius: 5px;
    border: 1px solid var(--colorBlack);
    width: 75vw;
    height: 100%;
    overflow-x: auto;
    display: block;
}

.show-list {
    margin: 5px;
    padding: 5px;
    height: 5vh;
    width: 10vw;
}

.d-none {
    display: none;
}

.line {
    height: 1px;
    width: 80%;
    background-color: var(--colorBlack);
}

.user-crud div, .game-crud div {
    display: flex;
    flex-direction: column;
}
.user-crud div:has(table:not(.d-none)), .game-crud div:has(table:not(.d-none)) {
    flex-direction: row-reverse;
}
.user-crud h2, .game-crud h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}