* {
    --colorBlack:#0C0C0C;
    --colorOrange:#FF9900;
    --colorWhite:#fefafa;
    font-family: 'Quicksand', sans-serif;
  }

.main-contact {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    gap: 5%;
}

.inform {
    display: flex;
    height: 80%;
    width: 80%;
    gap: 10%;
    margin-top: 50px;
}

.info {
    height: 95%;
    width: 60%;
    background-color: var(--colorBlack);
    /* box-shadow: 0px 2px 35px 1px gray; */
    border: 1px solid var(--colorWhite);
    border-radius: 5px;
}

.info h3 {
    color: var(--colorWhite);
    text-align: center;
    font-size: 25px;
}

.info p {
    color: var(--colorWhite);
    font-size: 18px;
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--colorBlack);
    height: 90%;
    width: 50%;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--colorWhite);
}

.form-contact h2 {
    color: var(--colorWhite);
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-names {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
}

.input-names input {
    border-radius: 2px;
    border: 1px solid var(--colorOrange);
    height: 25px;
    font-size: 20px;
    width: 30%;
    text-align: center;
}

.input-mail {
    border-radius: 2px;
    border: 1px solid var(--colorOrange);
    text-align: center;
    width: 50%;
    height: 25px;
    font-size: 20px;
}

.input-names label {
    display: none;
}

form label {
    font-size: 20px;
    text-decoration: none;
    visibility: hidden;
}

textarea {
    border: 1px solid var(--colorOrange);
    border-radius: 5px;
    width: 90%;
    height: 40%;
    font-size: 20px;
    resize: none;
    margin: 10px;
}

form button {
    width: 40%;
    height: 40px;
    border-radius: 2px;
    border: solid 1px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--colorOrange);
    box-shadow: 0px 0px 0px 1px gray;
    transition: box-shadow 0.6s linear;
    margin: 0.5em;
    letter-spacing: 5px;
}

form button:hover {
    box-shadow: 0px 0px 0px 3px gray;
    background: linear-gradient(90deg, var(--colorOrange) , var(--colorWhite), var(--colorOrange));
    cursor: pointer;
    transition: 1s;
    font-size: 16px;
    letter-spacing: 4px;
}

.smart-form {
    display: none;
}

@media ( min-width: 1366px ) and (max-height:768px) {

    .inform {
        margin-top: 150px;
    }
    .form-contact h2 {
        margin: 20px;
    }
    .form-contact {
        gap: 0px;
    }
}

@media (max-width: 920px) {

    .inform {
        height: 90%;
        width: 98%;
        gap: 5px;
        margin-top: 30px;
    }
    .info {
        height: 90%;
        width: 50%;
    }
    .form-contact {
        gap: 5px;
        border-radius: 5px;
    }
    .input-names input {
        width: 40%;
    }
}
@media (max-width: 600px) {
    .info p {
        font-size: 15px;
    }
}

@media (max-width: 480px) {

    .main-contact {  
        height: auto;
    }
    .inform {
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }
    .form-contact {
        display: none;
    }
    .smart-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--colorBlack);
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        gap: 10px;
        border-radius: 5px;
        border: 1px 0px 1px 0px solid var(--colorWhite);
    }
    .input-email label {
        display: block;
        font-size: 20px;
        text-decoration: none;
        color: var(--colorWhite);
    }
    h2 {
        color: var(--colorWhite);
    }  
    form label {
        font-size: 20px;
        text-decoration: none;
        color: var(--colorWhite);
        visibility: visible;
    }
    .info {
        display: none;
    }
    .smart-form input, .input-mail {
        height: 30px;
        font-size: 22px;
        width: 90%;
        text-align: center;
    }
    .smart-form label {
        display: block;
        font-size: 20px;
        text-decoration: none;
    }  
    textarea {
        border: 1px solid var(--colorOrange);
        border-radius: 5px;
        width: 90%;
        height: 200px;
        font-size: 22px;
        resize: none;
    }
}