* {
    --colorBlack:#0C0C0C;
    --colorOrange:#FF9900;
    --colorWhite:#fefafa;
    font-family: 'Quicksand', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 75vh;
}

h2 {
    color: var(--colorWhite);
    background-color: var(--colorBlack);
    width: 30%;
    height: 60px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 0px;
}

.main-game {
    display: flex;
    flex-direction: column;
    background-color: var(--colorBlack);
    margin-top: 0px;
    border: 1px solid var(--colorWhite);
    border-radius: 5px;
    height: 60vh;
    width: 80%;
}

.platform {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 40%;
    height: 60px;
}

.platform p {
    background-color: #FFFFFF80;
    color: var(--colorBlack);
    border-radius: 0px 0px 5px 5px;
    margin-top: 0;
}

.main-middle {
    display: flex;
    gap: 10%;
}

.fiche-jeu {
    justify-self: start;
    gap: 0px;
    margin-left: 20px;
}

.fiche-jeu img {
    object-fit: contain;
    height: 300px;
    margin-bottom: 0px;
}

.fiche-info {
    background-color: var(--colorWhite);
    width: 500px;
    margin-top: 0px;
}

.info-media {
    display: flex;
    gap: 20px;
}

.info-media img, iframe {
    height: 300px;
}