* {
    --colorBlack:#0C0C0C;
    --colorOrange:#FF9900;
    --colorWhite:#fefafa;
    font-family: 'Quicksand', sans-serif;
}

main-profil {
    width: 100%;
    min-height: 75vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--colorBlack);
    color: var(--colorOrange);
    padding: 60px;
    margin-top: 4%;
    border: 1px solid var(--colorWhite);
    border-radius: 10px;
    position: relative;
}

.label-file {
    cursor: pointer;
    color: var(--colorOrange);
}

.input-file {
    display: none;
}

.message-to {
    position: absolute;
    top: 50px;
}

.form-div {
    float:left;
    margin-right:50px;
}

form label {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
}

form input {
    display: block;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    font-size: 25px;
    color: var(--colorBlack);
    margin-bottom: 10px;
}

.line {
    margin-top: 10px;
    height: 1px;
    background-color: var(--colorOrange);
}

h3 {
    font-size: 25px;
}

.avatar-preview-container {
    margin-top: -30%;
    margin-left: 80%;
}

.preview {
    border: 1px solid var(--colorOrange);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.preview img {
    height: 100%;
    width: 100%;
    /* margin-bottom: 30px; */
    object-fit: cover;
}

#button {
    align-self: center;
    background-color: var(--colorOrange);
    color: var(--colorBlack);
    height: 40px;
    margin-bottom: -5%;
    transition: 1s;
}

#button:hover {
    cursor: pointer;
    letter-spacing: 0.3px;
    transition: 1s;
    border: 1px solid var(--colorWhite);
}

.valid {
    border: 2px solid green;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.invalid {
    border: 2px solid red;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

#button[disabled] {
    background-color: gray;
    cursor: not-allowed;
}

.question {
    height: 20px;
    background-color: var(--colorOrange);
    border-radius: 25%;
}

.question:hover {
    cursor: pointer;
}

.dnone {
    display: none;
}

.modal-question {
    border: 1px solid var(--colorOrange);
    background-color: var(--colorBlack);
    border-radius: 5px;
    width: 350px;
    font-size: 12px;
    position: absolute;
    margin-top: -70px;
    z-index: 10;
}

@media (min-width: 1366px) and (max-height: 768px) {
    form {
        padding: 20px;
        height: auto;
        gap: 0px;
    }
    .avatar-preview-container {
        margin-top: -25%;
    }
    .preview {
        height: 200px;
        width: 200px;
    }
    .form-div label {
        font-size: 20px;
    }
    h3 {
        margin: 5px;
    }
    #button {
        margin-top: -20px;
    }
}

@media (max-width: 920px) {
    form {
        margin-bottom: 5px;
        padding: 40px;
    }
    .pseudo {
        width: 300px;
    }
    form input {
        width: 80%;
    }
    .avatar-preview-container {
        margin-left: 20%;
        margin-top: 0%;
    }
    .line {
        width: 80%;
    }
    .personnal-info {
        display: flex;
        flex-direction: row;
    }
    .personnal-info .form-div {
        width: 50%;
        margin-right: 0px;
    }
}

@media (max-width: 480px) {

    form {
        width: 100%;
        padding: 0px;
        align-items: center;
        gap: 5px;
        border-radius: 0px;
    }
    form input { 
        width: 100%;
    }
    form label {
        font-size: 20px;
    }
    form h3 {
        font-size: 22px;
    }
    .avatar-preview-container {
        margin-top: 0px;
        margin-left: 0px;
    }
    .login-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .personnal-info {
        flex-direction: column;
        align-items: center;
    }
    .form-div {
        margin-right: 0px;
    }
    .personnal-info .form-div {
        width: 100%;
        margin-right: 0px;
    }
    #button {
        width: 80%;
    }
    footer {
        margin-top: 20px;
    }
}