* {
    --colorBlack:#0C0C0C;
    --colorOrange:#FF9900;
    --colorWhite:#fefafa;
    font-family: 'Quicksand', sans-serif;
  }

.game-list {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border: var(--colorBlack) 0.5px solid;
    border-radius: 2px;
    align-items: center;
    height: 85%;
    width: 56%;
    background-color: var(--colorWhite);
    z-index: 1;
}

.game-title {
    background-color: var(--colorBlack);
    color:var(--colorWhite);
    width: 100%;
    text-align: center;
    border: var(--colorWhite) 1px solid;
    font-size: 35px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.right-actu {
    overflow-x: hidden;
    overflow-y: auto;
    /* margin: auto; */
    background-image: url(https://image.noelshack.com/fichiers-md/2017/07/1487014702-187-card-communaute.jpg);
    background-size: cover;
    background-blend-mode:luminosity;
}

.right-actu h2 {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.right-actu form {
    width: 80%;
}

.multipleSelection {
    width: 100%;
    background-color: transparent;
    text-align: left;
}

.selectBox {
    position: relative;
    user-select: none;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkBoxes {
    display: none;
    border: 0.5px var(--colorBlack) solid;
    user-select: none;
}

.checkBoxes label {
    display: block;
    background-color: rgba(250, 212, 217, 0.8);
}

.checkBoxes label:hover {
    background-color: #b69da0;
    cursor: pointer;
}

select {
    height: 40px;
    cursor: pointer;
    margin: 1%;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bolder;
}

label {
    font-size: 20PX;
    font-weight: 600;
}

label img {
    height: 15px;
    width: 25px;
}

@media (max-width: 380px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 0px;
      }

      .right-actu form {
        width: 95%;
    }

      .game-list {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        border: var(--colorBlack) 0.5px solid;
        border-radius: 2px;
        align-items: center;
        height: auto;
        width: 100%;
        background-color: var(--colorWhite);
        z-index: 1;
    }

      .game-title {
        background-color: var(--colorBlack);
        color:var(--colorWhite);
        width: 100%;
        text-align: center;
        border: var(--colorWhite) 1px solid;
        font-size: 35px;
        height: 50px;
        margin-top: 0;
        margin-bottom: 0;
      }

      .fil-main {
        height: 200px;
      }
}