* {
  --colorBlack:#0C0C0C;
  --colorOrange:#FF9900;
  --colorWhite:#fefafa;
  font-family: 'Quicksand', sans-serif;
}

body {
  position: relative;
  background: linear-gradient(90deg, rgba(189,113,0,1) 0%, var(--colorOrange) 50%, rgba(189,113,0,1) 100%);
  min-height: 100vh;
  margin: 0;
}

nav {
  display: flex;
  background-color: var(--colorBlack);
  height: 140px;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px 50px 5px rgb(52, 51, 51);
}

nav a {
  z-index: 100;
}

.logo {
  height: 30vh;
  width: 100%;
  
}

.hamburger {
  display: none;
}

.logo img {
  width: 45vh;
}

header {
  height: 20vh;
}

header .active {
  background: -webkit-linear-gradient(var(--colorWhite), var(--colorOrange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  text-decoration: none;
  width: 180px;
  height: 35px;
  text-align: center;
  border-radius: 2px;
  opacity: 1;
  filter: saturate(10);
}

header .link {
  background: -webkit-linear-gradient(var(--colorWhite), var(--colorOrange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  text-decoration: none;
  width: 180px;
  height: 35px;
  text-align: center;
  border-radius: 2px;
  opacity: 0.7;
}

.line-1 {
  margin-top: 10px;
  height: 1px;
  background-color: var(--colorBlack);
}

.glass {
  height: 40px;
  margin-left: 5%;
  margin-top: 5px;
}

.search {
  height: 25px;
  font-size: 20px;
  transition: 1s;
  opacity: 0.7;
  margin: 20px 0px 10px 2%;
}

.search-icon {
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-color: var(--colorWhite);
  background-size: 20px;
  color: var(--colorBlack);
}

.search:hover {
  transition: 1s;
  opacity: 1;
}

.modal-search {
  position: absolute;
  left: 2%;
  height: auto;
  width: auto;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  border: 1px solid var(--colorWhite);
  border-radius: 5px;
  z-index: 10;
  animation: render 1s;
}

/* animation de l'arrivée de la modal */
@keyframes render {
  from{  
    transform:translate(0);
    opacity: 0;
    z-index:-1;
  } to{ 
    transform: translate(1);
    opacity: 1;
    z-index:2;
  }
}

.modal-search ul {
  display: flex;
  flex-direction: column;
  list-style-type:none;
}

.user-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user {
  height: 64px;
  aspect-ratio: 1 / 1;
  margin-left: 85%;
  margin-top: -50px;
  /* border: 2px solid var(--colorBlack); */
  border-radius: 50%;
}

.user:hover {
  cursor: pointer;
}

.create-profil {
  text-decoration: none;
  color: var(--colorBlack);
  margin-top: -30px;
}

.create-profil button {
  color: var(--colorWhite);
  background-color: var(--colorBlack);
  border: 1px solid var(--colorWhite);
  border-radius: 5px;
  height: 35px;
  font-size: 15px;
}

.create-profil button:hover {
  cursor: pointer;
}

.create-profil-modal {
  text-decoration: none;
  color: var(--colorWhite);
  border: 1px solid var(--colorOrange);
  border-radius: 5px;
  width: 40%;
  align-self: center;
}

.login-modal-show .create-profil {
  text-decoration: none;
  color: var(--colorWhite);
}

.show-pseudo {
  padding: 0;
  margin-top: -10px;
  font-weight: 600;
}

/************************** Modal connexion  ************************/

.display-none {
  display: none;
}

.login-modal-show {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 400px;
  margin: auto;
  padding-top: 10px;
  right: 150px;
  text-align: center;
  background-color: var(--colorBlack);
  height: 220px;
  z-index: 500;
  border: var(--colorOrange) 2px solid;
  border-radius: 5px;
  font-size: 20px;
}

.login-modal-show  input {
  height: 30px;
  width: 80%;
  align-self: center;
  border-radius: 5px;
}

.login-modal-show  label {
  color: var(--colorWhite);
}

.login-modal-show  #button {
  width: 50%;
  align-self: center;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  font-size: 20px;
  background-color: var(--colorOrange);
  filter: saturate(0.7);
  border-radius: 5px;
}

.login-modal-show  #button:hover {
  cursor: pointer;
}

.cross {
  height: 25px;
  align-self: end;
  margin-right: 10px;
}

.cross:hover {
  cursor: pointer;
}

.modal-overlay {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

/************************** ^ Modal connexion ^ ************************/

.line-2 {
  height: 1px;
  background-color: var(--colorBlack);
}

.bottom-nav {
  display: inline-block;
  width: 100%;
  z-index: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 75vh;
}

footer {
  width: 100%;
  height: 5vh;
  background-color: var(--colorBlack);
}

/**************************************  ACTUALITE  *****************************************/

.left-actu, .right-actu {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  height: 85%;
  width: 20%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #FAD4D9;
  border: var(--colorBlack) 0.5px solid;
  border-radius: 2px;
  text-align: center;
}

.fil-actu {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  border: var(--colorBlack) 0.5px solid;
  border-radius: 5px;
  align-items: center;
  height: 95%;
  width: 56%;
  background-color: var(--colorWhite);
  z-index: 1;
}

.actu-content {
  width: 95%;
}

.fil-title {
  background-color: var(--colorBlack);
  color:var(--colorWhite);
  width: 100%;
  text-align: center;
  font-size: 35px;
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.inner-fil {
  display: flex;
  height: 90%;
  width: 100%;
}

.fil-main {
  text-align: center;
  background-color: var(--colorWhite);
  font-size: 20px;
  height: auto;
  width: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}

.fil-list {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  width: 20%;
  height: 100%;
  align-self: center;
  border-left: var(--colorBlack) 1px solid;
}

.news-day {
  color: var(--colorBlack);
  text-decoration: underline;
  padding-left: 1%;
}

.fil-list h4 {
  margin: 10px;
}
.fil-list h4:hover {
  cursor: pointer;
}

time {
  color: red;
}

p {
  padding: 2%;
}
p>a {
  color: var(--colorBlack);
}
.published {
  font-size: 15px;
}

.actu-title, .actu-title-list{
  background-color: var(--colorOrange);
  width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 0px 1px 5px 1px gray ;
  border-left: var(--colorBlack) 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}

.fil-actu h2, .right-actu h2 {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  width: 100%;
  height: 40px;
  text-align: center;
  box-shadow: 0px 1px 5px 1px gray ;
  /* border-left: var(--colorBlack) 1px solid; */
  margin-top: 0;
  margin-bottom: 0;
}

/******************* Roulette ****************/

.div-roul {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60%;
}

.div-roul img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.gradient-container {
  height: 80px;
  width: 80%;
  position: relative;
  overflow: hidden;
}

.but-roulette {
  margin: 0;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  z-index: 2;
  font-size: 20px;
  color:var(--colorBlack);
  font-weight: bolder;
  letter-spacing: 3px;
  mix-blend-mode: multiply;
}

.gradient {
  height: 30px;
  width: 500%;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  animation: gradient 2s linear infinite alternate;
  z-index: 1;
  filter: saturate(0.4);
  transition: 2s;
}

.but-roulette:hover {
  cursor: pointer;
}

.but-roulette:hover + .gradient {
  filter: saturate(10);
  transition: 2s;
}

@keyframes gradient {
  0% {
    transform: translate(-25%, -50%);
  }
  100% {
    transform: translate(-75%, -50%);
  }
}

.but-roulette, .gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roulette {
  transition: 2s;
}

.roulette-spin {
  transform: rotate(3600deg);
  transition: 5s;
}

.lights-spin {
  transform: rotate(-360deg);
  transition: 4.5s;
}

.modal-roulette-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  background-color: var(--colorBlack);
  height: 400px;
  width: 400px;
  border: var(--colorOrange) 2px solid;
  border-radius: 5px;
  opacity:1;
  z-index:2;
  animation: show 1s;
}

/* animation de l'arrivée de la modal */
@keyframes show {
  from{  
    transform: scale(0);
    opacity:0;
    z-index:-1;
  } to{ 
    transform: scale(1);
    opacity: 1;
    z-index:2;
  }
}

#modal-roulette h2, a{
  color: var(--colorWhite);
  margin: 10px;
}

#modal-roulette-button{
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--colorOrange);
}

#modal-roulette-button:hover {
  cursor: pointer;
}

.modal-cover {
  width: 90%;
  height: 60%;
  object-fit: cover;
  border: var(--colorOrange) 1px solid;
  border-radius: 5px;
}
.cross-roulette {
  position: absolute;
  height: 25px;
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}

.redirect:hover {
  cursor: pointer;
}

.left-actu {
  background-image: url(https://media.istockphoto.com/id/544482712/photo/playing-craps-in-a-casino-with-slot-machines.jpg?s=612x612&w=0&k=20&c=MzDsXmJPQHNQ-UV76Eg7BnHZVD0-bqUJKXtVkLaY9KM=);
  background-size:cover;
  background-blend-mode:luminosity;
}

/******************************* Jeu du jour *************************************/

.right-actu {
  background-image: url("../image/jeu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode:luminosity;
}

.right-actu h2 {
  border-bottom: 1px solid var(--colorOrange);
  border-top: 1px solid var(--colorOrange);
}

.slider-actu {
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 100%;
  background-color: #fefafa90;
  position: relative;
}

.slider-actu img {
  width: 100%;
  height: 100%;
}

.head-slide {
  display: flex;
  width: 100%;
  position: relative;
}

#previous {
  font-size: 30px;
  width: 40px;
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  color: rgb(237, 226, 212);
  cursor: pointer;
  user-select: none;
}

#next {
  font-size: 30px;
  width: 40px;
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  right: 0;
  color: rgb(237, 226, 212);
  cursor: pointer;
  user-select: none;
}

#previous:hover, #next:hover {
  background-color: var(--colorOrange);
  transition: 0.3s;
}

@media (max-width: 1600px) {


}

@media (max-width: 1366px) { /*laptop*/

  * {
    
  }

  main {
    justify-content: center;
  }

}

@media (max-width: 768px) {

  header {
    height: 25vh;
  }

  nav {
    justify-content: space-around;
  }

  nav .link, nav .active {
    font-size: 18px;
  }

  .logo {
    height: 400px;
  }

  .user-div {
    margin-right: 10%;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0px;
  }

  .left-actu, .right-actu, .fil-actu {
    width: 100%;
    margin: 0;
    border: var(--colorBlack) 0.5px 0px 0.5px 0px solid;
  }

  .modal-roulette-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    background-color: var(--colorBlack);
    height: 450px;
    width: 80%;
    border: var(--colorOrange) 2px 0px 2px 0px solid;
    border-radius: 5px;
    opacity:1;
    z-index:20;
    animation: show 1s;
  }

  .fil-main {
    text-align: center;
    background-color: var(--colorWhite);
    font-size: 20px;
    height: auto;
    width: 75%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .inner-fil {
    position: relative;
    min-height: 500px;
  }
  
  .fil-list {
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    width: 25%;
    height: 100%;
    align-self: center;
    border-left: var(--colorBlack) 1px solid;
  }

}

@media (max-width: 380px) {

  header {
    width: 100%;
    height: auto;
  }

  nav {
    display: flex;
    height: 100px;
    position: relative;
  }

  nav .link, nav .active {
    display: none;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 35%;
  }

  .hamburger {
    display: flex;
    align-self: center;
    margin-left: -150px;
    font-size: 60px;
  }

  .smart-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background-color: var(--colorBlack);
}

  .bottom-nav {
    width: 100%;
  }

  .glass {
    display: none;
  }

  .search {
    width: 80%;
    margin: 5px 0px 5px 0px;
  }

  .user-div p, .user-div button {
    display: none;
  }

  .user {
    position: absolute;
    top: 80px;
    height: 50px;
    background-color: var(--colorOrange);    
  }

  .user svg {
    color: var(--colorWhite);
  }

  .login-modal-show {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    right: 0;
    text-align: center;
    background-color: var(--colorBlack);
    height: 220px;
    z-index: 500;
    border: var(--colorOrange) 2px 0px 2px 0px solid;
    border-radius: 5px;
    font-size: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0px;
  }

  .left-actu, .right-actu, .fil-actu {
    width: 100%;
    margin: 0;
    border: var(--colorBlack) 0.5px 0px 0.5px 0px solid;
  }

  .left-actu {
    margin-top: 5px;
  }

  .modal-roulette-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 150px;
    background-color: var(--colorBlack);
    height: 400px;
    width: 100%;
    border: var(--colorOrange) 2px 0px 2px 0px solid;
    border-radius: 5px;
    opacity:1;
    z-index:20;
    animation: show 1s;
  }

  .right-actu {
    margin-bottom: 5px;
  }

  .fil-actu {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  border: var(--colorBlack) 0.5px 0px 0.5px 0px solid;
  border-radius: 5px;
  width: 100%;
  background-color: var(--colorWhite);
  z-index: 1;
}

  .fil-title {
    background-color: var(--colorBlack);
    color:var(--colorWhite);
    width: 100%;
    text-align: center;
    font-size: 35px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .actu-main {
    width: 100%;
  }
  
  .inner-fil {
    display: flex;
    flex-direction: column;
  }
  
  .fil-main {
    text-align: center;
    background-color: var(--colorWhite);
    font-size: 20px;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .fil-list {
    display: flex;
    flex-direction: column;
    position:initial;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 300px;
    /* border-left: var(--colorBlack) 1px solid; */
  }
  
  .fil-list h4 {
    margin: 10px;
  }
  
  time {
    color: red;
    padding-left: 2%;
  }
  
  .actu-title-list {
    position:absolute;
    background-color: var(--colorOrange);
    width: 100%;
    height: 40px;
    text-align: center;
    box-shadow: 0px 1px 5px 1px gray ;
    /* border-left: var(--colorBlack) 1px solid; */
    margin-top: -20px;
  }
  
  .fil-actu h2, .right-actu h2 {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    width: 100%;
    height: 40px;
    text-align: center;
    box-shadow: 0px 1px 5px 1px gray ;
    /* border-left: var(--colorBlack) 1px solid; */
    margin-top: 0;
    margin-bottom: 0;
  }

  .smart-list {
    margin-top: 20px;
  }

  footer {
    height: 150px;
  }

}